.login-container {
    max-width: 40%;
    height: max-content;
    margin: auto;
    padding: 15px;
    /* border: 1px solid #ccc; */
    border-radius: 20px;
    margin-top: 8%;
    background-color: #8a79795d;
    /* border: 1px solid red;       */
    padding-top: 5%;
}
.text{
    font-size: 50px;
    color: black;
    font-weight: 900;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

.input-container {
    margin-bottom: 3%;
    /* border: 1px solid red; */
    margin-top: 10px;
}
.input-container .login .password{
    width: 100%;
    padding: 10px;
    margin: 7px 0;
    border-radius: 15px;
    border: none;
    outline: none;
}

/* .username{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    margin: 7px 0;
    outline: none;
    border: none;
}
.login{
    border-radius: 10px;
} */

/* .password {
    width: 100%;
    padding: 10px;
    margin: 7px 0;
    border-radius: 15px;
    border: none;
    outline: none;
} */

.button{
    margin: auto;
    width: 15vw;
    height: 50px;
    border: none;
    letter-spacing: 2px;
    color: white;
    background-color: rgb(83, 146, 228);
    border-radius: 15px;


}
.forgotpass{
    margin-top: 20px;
    margin-left: 20px;

}
.signup{
    margin-left: 20px;
}